/*
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/

/* mindegyikre design */
html {
	overflow-y: scroll; 
  background-color: #677c8a;
}

.sign, .login, .quizrider, .make{
  font-weight: bold;
  text-decoration:none;
}

button{
  border:0;
  outline:none;
  border-radius:10px;
  padding:15px 0;
  font-size:2rem;
  font-weight: bold;
  text-transform:uppercase;
  letter-spacing:.1em;
  background: Turquoise;
  color:#13232f;
  transition:all.5s ease;
  -webkit-appearance: none;
  }
  button:hover, button:focus{
    background: darken(Turquoise,5%);
  }

  .button-block{
    display: block;
    width: 100%;
  }



/* singup,login design */
.tab-content{
  
  background: #677c8a;
  justify-content: center;
  align-items: center;
  display: flex;  
}

h1 {
  text-align:center;
  color: white;
  font-weight:300;
  margin:0 0 40px;
} 

input{
  font-size: 22px;
  display: block;
  width:100%;
  height:100%;
  padding:5px 10px;
  background:none;
  background-image:none;
  border: 1px solid, #a0b3b0;
  color: white;
  border-radius: 0;
  transition:border-color .25s ease, box-shadow .25s ease;
  }
  input:focus{
    outline: 0;
    border-color:#1ab188;
  }

  div:last-child{
    margin: 0;
  }

  
 
  .sign:visited, .quizrider:visited, .make:visited{
    color: #13232f;
  }
  .login:visited{
    color: #13232f;
  }
  #menu{
    background: Turquoise;
    justify-content: center;
    text-align: center;
    display: block;
    padding: 15px;
    border-radius: 10px;
    
    
  }

  #kviz{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: #677c8a;;  
    border-radius: 10px;
  }

  .kviz-kinezet{
    background-color: aliceblue;
  }
  .valasz{
    cursor: pointer;
  }

  .valasz_resz{
    display: block;
    padding: 1%;
    border-radius: 10px;
    background: Turquoise;
    transition: Turquoise 0.5s ease;
    justify-content: center;
    text-align: center;
  }
  
  .valasz_resz:hover{
    background-color: darkturquoise;
    
  }
 
  #tema, #fokerdes,#valaszlehetoseg {
    text-align: center;
    display: block;
    width: auto;
    color: #13232f;
    font-weight: bold;
    
  }

  #tema{
    padding-top: 35px;
    padding-bottom: 50px;
  }

  #fokerdes{
    padding-top: 50px;
    padding-bottom: 50px;
  }

  p{
    font-size: 25px;
  }
 
 #signup, #login{
  margin-top: 50px;
  padding: 40px;
  background-color: aliceblue;
  border-radius: 20px;
  border-color: #13232f;
  box-shadow: 11px 16px 9px 10px #13232f;
  width: 400px;
 }

 #sign_felirat, #login_felirat{
  color: #13232f;
  padding-bottom: 40px;
 }
  
 #gomb{
  border-radius: 10px;
 }

 .tovabb_gomb{
  padding: 10px;
 }

 #gomb_tovabb{
  text-align: center;
  float: right;
  max-width: 200px;
  border-radius: 10px;
  font-size: 20px;
 }

 .quizracer{
  
  margin-top: 50px;
  padding: 40px;
  background-color: aliceblue;
  border-radius: 20px;
  border-color: #13232f;
  box-shadow: 11px 16px 9px 10px #13232f;
  width: 80%;
 }

 .quizracer-content{

 }

