

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
	overflow-y: scroll; 
}
body {
  background:#c1bdba;
  font-family: 'Titillium Web', sans-serif;
}
.tab-content{
  background-color: lightslategray;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

  .tab-group{
    list-style: none;
    padding: 0;
    margin: 0,0,40px,0;
    content: "";
    display: table;
    clear: both;
    
  }

  a{
    text-decoration: none;
    color: white;
    transition: .5s, ease;
  }
  a:hover{
    color: darken(#1ab188, 5%);
  }

  .form{
    background-color: rgba(#13232f, .9);
    padding: 40px;
    max-width: 600px;
    margin: 40px, auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(#13232f, .3);
  }

  .tab-group{
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
  }
  .tab-group::after{
    content: "";
    display: table;
    clear: both;
  }

 .li a{
    display: block;
    text-decoration: none;
    padding: 15px;
    background-color:rgba( #a0b3b0, .25);
    color:#a0b3b0;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    transition: .5 ease;
  }

  .li a:hover{
    background-color:(#1ab188, 5%);
    color: white;
  }
/*

----htmlbe régebben kipróbált css reactba még nem igazán müködik


  .a:active{
    background-color: #1ab188;
    color: white;
  }

  .tab-content > div:last-child {
    display:none;
  }

  h1 {
    text-align:center;
    color: white;
    font-weight:300;
    margin:0 0 40px;
  }

  label{
    position: absolute;
    transform: translateY(6px);
    left: 13px;
    color: rgba(white, .5);
    transition:all 0.25s ease;
   -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size:22px;
  }
  label.req{
    margin: 2px;
    color: #1ab188;
  }

  label.active{
    transform:translateY(50px);
    left:2px;
    font-size:14px;
  }

  label.active.req{
      opacity:0;
  }

  label.highlight{
    color:white;
  }

  input{
    font-size: 22px;
    display: block;
    width:100%;
    height:100%;
    padding:5px 10px;
    background:none;
    background-image:none;
    border: 1px solid, #a0b3b0;
    color: white;
    border-radius: 0;
    transition:border-color .25s ease, box-shadow .25s ease;
  }
  input:focus{
    outline: 0;
    border-color:#1ab188;
  }
*/
  .field-wrap {
    position:relative;
    margin-bottom:40px;
  }

  .top-row::after{
    content: "";
    display: table;
    clear: both; 
  }

  div.div{
    float:left;
    width:48%;
    margin-right:4%;
  }
  div:last-child{
    margin: 0;
  }

  button{
  border:0;
  outline:none;
  border-radius:0;
  padding:15px 0;
  font-size:2rem;
  font-weight: 300;
  text-transform:uppercase;
  letter-spacing:.1em;
  background:#1ab188;
  color:white;
  transition:all.5s ease;
  -webkit-appearance: none;
  }
  button:hover, button:focus{
    background: darken(#1ab188,5%);
  }

  .button-block{
    display: block;
    width: 100%;
  }

  .tab-active{
    border:0;
    outline:none;
    border-radius:0;
    padding:15px 0;
    font-size:25px;
    font-weight: 300;
    text-transform:uppercase;
    background:#1ab188;
    color:white;
    transition:all.5s ease;
    -webkit-appearance: none;
    text-align: center;
  }
  .tab-active:hover{
    background: darken(#1ab188,5%);
  }

  .tab{
    border:0;
    outline:none;
    border-radius:0;
    padding:15px 0;
    font-size:25px;
    font-weight: 300;
    text-transform:uppercase;
    background:#1ab188;
    color:white;
    transition:all.5s ease;
    -webkit-appearance: none;
    text-align: center;
  }